// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
@import "vendors/simplebar";

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";

.text-rigth {
    text-align: end !important;
}
.custom_form .invalid-feedback {
  display: block !important;
}
.toast_custom_style {
  position: absolute;
  top: 65px;
  z-index: 9999;
  right: 30px;
}
